earnotebooks/

# Ignore all parquet files
*.parquet

# Ignore all database files
*.db
*.sqlite
*.sqlite3
*.dbf
*.db-journal

# Ignore csv files
data/raw/*.csv.gz
data/shape_files/*.zip
*.csv.gz

# Exceptions
!data/external/state_codes.parquet
!data/interim/pumas.gpkg
!data/processed/acs.parquet
!data/processed/roads.parquet
!data/processed/all.csv

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore environment file
.yaml
.env