earnotebooks/

# Ignore all pkl files
*.pkl

# Ignore all database files
*.db
*.sqlite
*.sqlite3
*.dbf
*.db-journal

# Ignore csv files
data/raw/*.csv.gz
data/shape_files/*.zip
*.csv.gz

# Exceptions
!data/shape_files/states.zip
!data/processed/blocks.parquet
!data/processed/lodes.parquet

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore environment file
.yaml
.env